/public/storage
/storage/*.key
/storage/laravels.conf
/storage/laravels.pid
/storage/logs/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/vendor
.env
.env.backup
/tests
.idea
/app/Lib
