
body{
    background-color: #0C0C0C;
}

.chat_title{
    height: 42px;
    line-height: 42px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #F8F8F8;
}

.content{
    background-color: #acd1df;
    max-height: 645px;
    width: 100%;
    border-radius: 5px;
    overflow:auto;
    min-height: 645px;
}

.float_bottom{
    min-height: 48px;
}
.bottom_button{
    background-color: #F6F6F6;
    min-height: 48px;
    line-height: 48px;
    font-size: 32px;
    text-align: center  ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-indent: 10px;
}
.bottom_text{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bottom_text input{
    background-color: #F6F6F6;
    border:none;
    min-height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 10px;
}

.message_content{
    min-height: 60px;
    margin-top: 5px;
}
.chat_user_avatar{
    text-align: center;
}
.chat_user_avatar img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.chat_user_name{
    color: #282626;
    font-size: 18px;
}
.chat_message{
    color: #232121;
    display:inline-block;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    background-color: #F6F6F6;
    padding: 5px 5px 5px 10px;

}
.right-message{

    float: right;
}
.right-name{
    text-align: right;
}

.system_message{
    margin-top: 15px;
    color: #090909;
    font-size: 12px;
    text-align: center;
    min-height: 30px!important;
}
.bottom_content{
    min-height:15px;
    width: 100%;
}

.system_message_text{
    text-align: center;
    display:inline-block;
    height: 18px;
    line-height: 18px;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    color: #363b3d;
    background-color: #F6F6F6;
    filter:alpha(Opacity=90);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.top_back{
    background-image: url('https://images.jobslee.top/storage/images/icon/left-back.png');
}
