html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}
.login-height {
    height: 70vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 46px;
    align-content: center;
}
.links > a {
    color: #fbfbfb;
    padding: 0 25px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46px;
}

.m-b-md {
    margin-bottom: 30px;
}

.top20{
    margin-top: 20%;
}

.div-w180{
    width: 180px;
}
.top_tip{
    padding-top: 10px;
    background-color: aliceblue;
    line-height: 36px;
    text-align: center;
    display: none;
    color: #e50012;
}

