body{
    background-color: #0C0C0C;
}
.user_avatar{
    width: 80px;
    height: 80px;
    margin: 20px 20px;
}
.user_avatar > img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.user_name{
    position: absolute;
    top: 15px;
    left: 120px;
    width: 200px;
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    color: #959594;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.user_signature{
    position: absolute;
    top: 60px;
    left: 120px;
    width: 260px;
    height: 38px;
    line-height: 18px;
    font-size: 14px;
    color: #959594;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.div_label{
    position: absolute;
    top: 115px;
    height: 90px;
    width: 100%;
}
.day_tag{
    position:inherit;
    left:10px;
    background-color: #00FF00;
    width: 22%;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;

}

.clock{
    position:inherit;
    left:27%;
    background-color: #3d8af2;
    width: 22%;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;

}

.words{
    position:inherit;
    left:52%;
    background-color: #ff6d5e;
    width: 22%;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;

}

.chat{
    position:inherit;
    left:76%;
    background-color: #b55dff;
    width: 22%;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    line-height: 90px;

}


.text_label_day{
    position: absolute;
    top: 215px;
    left: 15px;
    height: 30px;
    line-height: 30px;
    color: #F6F6F6;
    font-size: 18px;
    width: 100%;

}
.label_more{
    position: inherit;
    right: 30px;
    color: #8a9193;
}

.day_tag_list{
    position: absolute;
    top: 260px;
    height: 200px;
    width: 100%;
    text-align: center;
    color: #8a9193;
}
.table_left{
    position: inherit;
    left: 10px;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    background-color: #F6F6F6;
}

.table_center{
    position: inherit;
    left: 35%;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    background-color: #F6F6F6;
}

.table_right{
    position: inherit;
    left: 68%;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    background-color: #F6F6F6;
}
.content_text{
    background: rgba(71, 255, 179, 0.1);
    background-size: 125px 200px;
    color: #363b3d;
}

.table_user_avatar{
    z-index: 1;
}


.table_user_avatar > img{
    margin-top: 125px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.table_user_name{
    margin-top: 2px;
    color: #ffffff;
}


