body{
    background-color: #0C0C0C;
}
.user_avatar{
    width: 80px;
    height: 80px;
    margin: 20px 20px;
}
.user_avatar > img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.user_name{
    position: absolute;
    top: 15px;
    width: 200px;
    height: 38px;
    line-height: 38px;
    font-size: 24px;
    color: #959594;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.user_signature{
    position: absolute;
    top: 60px;
    width: 260px;
    height: 38px;
    line-height: 18px;
    font-size: 14px;
    color: #959594;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.div_label{
    position: absolute;
    top: 115px;
    height: 90px;
    width: 100%;
}
.create_party{
    background-color: #5fb878;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;

}

.clock{

    background-color: #3d8af2;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;

}

.my_collection{
    background-color: #ff6d5e;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;

}

.rand_party{
    background-color: #b55dff;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;

}


.text_label_day{

    height: 30px;
    line-height: 30px;
    color: #F6F6F6;
    font-size: 18px;

}
.label_more{
    text-align: center;
    color: #8a9193;
}


.label_content{
    height: 200px;
    text-align: center;
    border-radius: 10px;
    background: rgba(238, 238, 238, 0.8);
    background-size: 125px 200px;
    color: #363b3d;


}




.content_text{
    z-index: 999;
    width: 100%;
    height: 38px;
    line-height: 38px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    background-color: #c9c9c9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content_body{
    width: 100%;
    height: 162px;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;

}

.content_body_title{
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 5px 10px 0 10px ;
}

.content_body_text{
    font-size: 14px;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    padding: 0 5px 0 5px;
}

.label_user_avatar{
    text-align: center;
    z-index: 999;
    margin-top: -75px;
}


.label_user_avatar > img{
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 25px;

}

.label_user_name{
    text-align: center;
    z-index: 999;
    margin-top: 2px;
    color: #8a9193;
}

.label_text{
    z-index:-1;
}

.flow_item{
    height: 220px;
}

